@media screen and (max-width:1000px){
    .menu {
        justify-content: space-between;
    }
    .menu h2 {
        margin-left: 25px;
    }
    .menu img {
        display: block;
        width: 45px;
        height: 30px;
        padding: 2px;
        margin: 20px 20px 0px 0px ;
        border: 2px solid white;
    }
    .menu ul {
        display: none;
    }

    .fazemos {
        width: 80%;
        margin: 0 auto;
        height: auto;
        margin-bottom: 60px;
    }

    #marketTop {
        flex-wrap: wrap;
    }
    #marketTop1 {
        width: 95%;
    }
    #marketTop2{
        width: 95%;
    }
    
}